body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

#input-form {
	text-align: center;
	width: 800px;
}

h1 {
	text-align: center;
	color: #333;
	margin: 50px 0;
}

.form {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.form label {
	display: block;
	margin-bottom: 10px;
	color: #333;
}

.form input[type=text] {
	padding: 10px;
	border: none;
	background-color: #f2f2f2;
	margin-bottom: 20px;
	width: 100%;
}

.form button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}


.results {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.results h2 {
	color: #333;
	margin-top: 15px;
	margin-bottom: 20px;
}

.results-title {
	text-align: center;
}

.google-books,
.internet-archive {
	margin-bottom: 20px;
	text-align: center;
}

img {
	width: 128px;
	height: 197px;
	margin: 20pX;;
}

.book {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	padding: 11px;
}

.book img {
	max-width: 100px;
	margin-right: 20px;
}

.book h3 {
	margin-top: 0;
}

.book p {
	margin: 0;
}

.alert {
	position: relative;
}

#enter-data, #error, 
#connect, #available {
	z-index: 1;
	position: absolute;
 	top: 300px;
 	left: 50%;
  	transform: translate(-50%, -50%);
}

.google-books h1 {
	font-weight: 600;
	margin-top: 15px;
	font-size: 120%;
	
}

.internet-archive h1{
	font-weight: 600;
	margin-top: 15px;
	font-size: 120%;
}

.google-books div {
	background-color: #ffff;
	border-radius: 10px;
	margin: 40px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);
	padding: 10px;
}

.internet-archive div{
	background-color: #ffff;
	border-radius: 10px;
	margin: 40px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);
	padding: 10px;
}

.card {
	background-color: gray;
}

.book .button {
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}
.image {
	display: block;
	position: relative;
  }

  div.z-index {
	z-index: 0;
  }